version: '3'

services:

  # not yet enabled, submitted issue: https://github.com/MAIAN-tool/MAIAN/issues/10
  #
  # maian:
  #   build: ./tools/maian
  #   volumes:
  #     - ./workspace/input/:/app/input/
  #     - ./workspace/output/maian:/app/output/

  # not yet enabled, need to add manual "test" functions in solidity files
  #
  # echidna:
  #   build: ./tools/echidna
  #   volumes:
  #     - ./workspace/input/:/app/input/
  #     - ./workspace/output/echidna:/app/output/

  mythril:
    build: ./tools/mythril
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/mythril:/app/output/

  oyente:
    build: ./tools/oyente
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/oyente:/app/output/

  solhint:
    build: ./tools/solhint
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/solhint:/app/output/

  solidity-coverage:
    build: ./tools/solidity-coverage
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/solidity-coverage:/app/output/

  solidity-analyzer:
    build: ./tools/solidity-analyzer
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/solidity-analyzer:/app/output/

  solgraph:
    build: ./tools/solgraph
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/solgraph:/app/output/

  solium:
    build: ./tools/solium
    volumes:
      - ./workspace/input/:/app/input/
      - ./workspace/output/solium:/app/output/
